<aside class="section-divider"></aside>
<article class="section-container contact-container" id="contact-top">

  <div class="contact-menu__body">
    <!-- LEFT -->
    <div class="cm-left">
      <div class="cm-left__header">
        <h3>Contact /</h3>
        <h3>Links</h3>
      </div>
      <div class="cm-left__body"></div>
      <div class="cm-left__footer">
        <div class="cm-left__footer-relocate">
        </div>
        <div class="cm-left__footer-location">
          <span>Bangalore</span>
          <span class="cm-left--time">IST: 9:30 AM</span>
        </div>
      </div>
    </div>
    <!-- RIGHT -->
    <div class="cm-right">
      <div class="cm-right--top">
        <!-- GITHUB BADGE -->
        <div class="cm-right--top__cell badge-github">
          <a class="cm-right--top__cell-badge" href="https://github.com/rinsham10" title="Github Profile" target="_blank" rel="noreferrer">
            <div class="badge-top">
              <div class="badge-top--profile">
                <div class="badge-top--container--svg">
                  <img class="cm-body--img icn-svg" src="images/svg/githuboutline.svg" alt>
                </div>
                <span data-acc="@rinsham10">@rinsham10</span>
              </div>
            </div>
            <div class="badge-footer">
              <img class="icn-svg" src="images/svg/bentarrow.svg" alt>
              <span>Github</span>
            </div>
          </a>
        </div>

        
 <!-- LINKEDIN BADGE -->
        <div class="cm-right--top__cell badge-linkedin">
          <a class="cm-right--top__cell-badge" href="https://www.linkedin.com/in/mohammedrinsham/" title="LinkedIn Profile" target="_blank" rel="noreferrer">
            <div class="badge-top">
              <div class="badge-top--profile">
                <div class="badge-top--container--svg">
                  <img class="cm-body--img icn-svg" src="images/svg/linkedinw.svg" alt>
                </div>
                <span data-acc="Mohammed Rinsham">Mohammed Rinsham</span>
              </div>
            </div>
            <div class="badge-footer">
              <img class="icn-svg" src="images/svg/bentarrow.svg" alt>
              <span>LinkedIn</span>
            </div>
          </a>
        </div>
       

      <div class="cm-right--bottom cm-right--bottom__body">
        <div class="cm-right--bottom__cell">
          <span>mohammedrinsham@gmail.com</span>
          <div class="cm-right--bottom__cell-icons">
            <a class="mailto-link cm-email-goto" href="mailto:mohammedrinsham@gomail.com" title="Open Mail-to">
              <img class="cm-img--icon icn-svg" src="images/svg/mailto.svg" alt="mail">
            </a>
            <button class="cm-copy cm-copy--email" title="Copy E-mail address" aria-label="button">
              <img class="cm-img--icon icn-svg" src="images/svg/copy.svg" alt="copy">
            </button>
          </div>
        </div>

        <div class="cm-right--bottom__cell">
          <span>+91 7736588099</span>
          <div class="cm-right--bottom__cell-icons">
            <button class="cm-copy cm-copy--phone" data-text="7736588099" title="Copy Phone Number" aria-label="button">
              <img class="icn-svg" src="images/svg/copy.svg" alt>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>