<footer class="footer">
  <div class="footer-links">
    <a href="https://github.com/rinsham10" title="Github Profile" target="_blank" rel="noreferrer">github.com/rinsham10</a>
    <a class="mailto-link" href="mailto:mohammedrinsham@gmail.com" title="Open Mail-to">mohammedrinsham@gmail.com</a>
  </div>
</footer>