<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000">
  <meta name="color-scheme" content="dark">
  <meta name="author" content="Mohammed Rinsham">
  <meta name="description" content="My Personal Portfolio Website">
  <meta name="keywords" content="portfolio, rinsham, rinsham10, rinsham10.github.io, rinsham10.github.io/portfolio">
  <meta name="robots" content="index, nofollow">

  <!-- Open Graph meta tags for social media preview -->
  <meta property="og:title" content="Mohammed Rinsham | Portfolio">
  <meta property="og:description" content="My Personal Portfolio Website">
  <meta property="og:image" content="https://github.com/rinsham10/v1/blob/main/screenshots/preview.png?raw=true">
  <meta property="og:url" content="https://rinsham10.github.io/portfolio/">
  <meta property="og:type" content="website">

  <!-- Twitter Card meta tags (optional but recommended) -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Mohammed Rinsham | Portfolio">
  <meta name="twitter:description" content="My Personal Portfolio Website">
  <meta name="twitter:image" content="https://github.com/rinsham10/v1/blob/main/screenshots/preview.png?raw=true">

  <title>Mohammed Rinsham | Portfolio</title>
</head>
